@media all and (max-width: 668px)
  .slide
    width: 100% !important

@media all and (max-width: 1180px)
  .list_header .active,
  .list_header-button:hover
    color: #A72537 !important

.list_header
  position: relative
  margin: 0 20px

.list_header-button
  cursor: pointer
  background-color: transparent
  border: none
  font-size: 1.603rem
  text-transform: uppercase
  padding: 5px
  color: #fff
  font-weight: 500

.list_header-button:hover
  text-decoration: none
  color: black
  transform: scale(1.2)
  transition: all 0.4s linear

.list_header .active
  color: #000

.list_header .active:before
  content: ''
  position: absolute
  width: 100%
  height: 1px
  background-color: #40e0d0
  bottom: 0
  left: 0
  z-index: 1
  transition: all .2s ease

.react-multi-carousel-list
  z-index: 4

// Carousel bootstrap

.carousel-control-prev,
.carousel-control-next
  width: auto !important
  height: max-content !important
  top: 40% !important
  font-size: 2rem !important

.carousel-control-next-icon,
.carousel-control-prev-icon
  width: 50px !important
  height: 50px !important
  color: #40e0d0 !important

.slide
  width: 60%
  margin: 0 auto

.carousel-indicators
  bottom: -40px !important

.carousel-indicators li
  background-color: black !important
  width: 15px !important
  height: 15px !important
  border-radius: 50% !important

// loading
.wrapper_loading
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

//button upload

.upload_block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%
  display: flex
  justify-content: center

.buttonAddImg
  width: 10rem !important
  height: 10rem !important
  font-size: 1rem !important